{% extends 'basecss.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}UserParameters{% endblock %}



{% block body %}
    {% include 'navbar/navbaar.html.twig' %}
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 5vh;">
        <h1>Paramètres</h1>
        <br>
        {{ form(form) }}
    </div>

{% endblock %}
