{% extends 'basecss.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}UserParameters{% endblock %}



{% block body %}
    {% include 'navbar/navbaar.html.twig' %}
    <h1>Paramètres</h1>

    {{ form(form) }}
{% endblock %}
