{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/login.css') }}">
{% endblock %}




{% block body %}
    <h1> Nouveau mot de passe</h1>
        {{ form(reserPass) }}
{% endblock %}

