{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/securite/login.css') }}">
{% endblock %}




{% block body %}
    <div class="containerLogo">
        <div class="containerImg">
            <img id="logo" src="{{ asset('assets/img/LogoZapPas.png') }}" alt="Logo" >
        </div>
        <div class="containerImg">
            <img id="ECN" src="{{ asset('assets/img/ECN.png') }}" alt="Logo-ECN">
        </div>
    </div>
    <h1> Nouveau mot de passe</h1>
        {{ form(resetPass) }}
{% endblock %}

