h1{
    text-align: center;
}

h2{
    text-align: center;
    padding-bottom: 2%;
}

form div #calendrier1 {
    align-items: center;
    margin: 0 40%;
}
/*.save {*/
/*    margin: 2%;*/
/*    border:none;*/
/*    padding:6px 0 6px 0;*/
/*    border-radius:75%;*/
/*    border-bottom:15px solid #0e2748;*/
/*    font:bold 13px Arial;*/
/*    color:black;*/
/*    background:#fff;*/
/*    box-shadow:2px 2px 3px #999;*/
/*    border-top:15px solid #dba005;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    cursor: grab;*/
/*}*/
/*.required {*/
/*    font-weight: bold;*/
/*}*/
