body {

    background-image: linear-gradient(to right, #ffffff, #c3a453, #207788);
    opacity: 0.8;
}


#logo {
    width: 23vh;
    position: relative;
    left: 80%;
}

.imageflottante2 {
    position: relative;
    float: right;
    margin-top: 20px;
    width: 1150px;

}

.ECN {

    width: 350px;
    position: absolute;
}

.container-2 {

    text-align: center;

}

.container {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}


form {

    margin-top: 60px;
    border-radius: 3%;
    padding:  40px 30px; 
    display:  flex; 
    flex-direction:  column;
    align-items:  center; 
    padding-bottom:  20px; 
    width:  400px;
    height: 250px;
    margin: 0 auto;
    background-color: #dba005;

    
  }


  button {
    -webkit-appearance:  none; 
    width:  auto;
    min-width:  100px;
    border-radius:  24px; 
    text-align:  center; 
    padding:  15px 40px;
    margin-top:  15px; 
    background-color: #fff;; 
    color: #0e2748; 
    font-size:  14px;
    font-weight:  500; 
    border:  none;
    transition:  all .3s ease; 
    outline: 0; 
  }
  

    input {
        font-size:  16px; 
        margin: 20px;
        height:  40px; 
        border:  none; 
        border-bottom:  solid 1px rgba(0,0,0,.1); 
        border-radius: 3%;
        background:  #fff; 
        width:  280px; 
        box-sizing:  border-box; 
       
        color:  #000; 
        font-weight:  400;
        -webkit-appearance:  none; 

}

.password {

    text-align: right;
    color: grey;
    font-style: italic;
}

/*.form-control {*/

/*    margin-top: 80px;*/
/*}*/

span {

    float: right;
}

a {
    
    text-decoration: none;
    color: grey;
    font-style: italic;

}