#bouton-crea-agenda {
    background-color: #dba005;
    width: 48%;
    margin-top: -6vh;
}

.div-link-crea-agenda{
    display: flex;
    justify-content: center;
    margin-top: 10vh;

}

.wrapper {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 35vh;

}
.button {
    padding: 15px 100px;
    margin:10px 4px;
    color:#dba005;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    border:1px solid ;
}
.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(.1);
    transform: scaleY(.1);
    transition: all .4s
}
.button:hover{
    color:#0e2748;
}
.button:hover::before{
    opacity: 1;
    background-color: #dba005;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}

body{
    background-color: whitesmoke;
}

