{% extends 'base.html.twig' %}

{% block title %}New EventZimbra{% endblock %}

{% block body %}
    <h1>Create new EventZimbra</h1>

    {{ include('event_zimbra/_form.html.twig') }}

    <a href="{{ path('event_zimbra_index') }}">back to list</a>
{% endblock %}
