<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheets %} {% endblock %}

        {# Stylisation de l'agenda#}
        {#on atemplates/navbar/njoute les fichiers css pour la vue de l'agenda semaine mois et liste#}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style-calendrier.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/page/page-admin.css') }}">

        {# Stylisation de la navbar #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/navbar-param/navbar.css') }}">

</head>
<body>

{% block body %}

{% endblock %}

</body>
</html>
