.nav ul {
    margin: 0;
    padding: 0;
    background:#0e2748;
    list-style:none;
    font-family: arial, serif;
}

.nav a {
    margin: 3vh;
    display: block;
    text-align:center;
    text-decoration: none;
    color: #dba005;
}

.nav .case-link {
    display: flex;
    flex-direction : row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 0vh;
    align-items: center;
}
.case-logo{
    display: flex;
    justify-content: flex-start;
    width: auto;
    align-items: center;
}
.logo {
    height: 8vh;
}

body {
    margin : 0;
}

.nav {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 7vh;
    align-items: center;
}

.has-children {
    position: relative;

}

.has-children:hover > .sous-menu {
    display: flex;
    width: 100%;
}

.sous-menu {
    display: none;
    flex-flow: column wrap;
    min-width: 100%;
    position: absolute;
    z-index: 6;
}

.sous-menu a {
    text-align: center;
    color: whitesmoke;
}

.case-link li ul {

    display: none;
}

.case-link li ul:hover{
    display: block;

}
.bouton-link {
    width: 30vh;
    font-size: 2vh;
}

.bouton-link:hover{
    background: #10385f;
}
nav label {
    color: #dba005;
}

.container-duree {
    display: flex;
    justify-content: center;
}

 .duree {
    width: 5vh;
}

 .form-navbar-ohlala {
     display: inline-flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-top: 0;
 }
 .submit-retard-absence {
     margin: 1vh;
 }

.li-sous-menu:hover {
    background: #105280;
}

#espace-perso-a {
    color: #10385f;
}

#form-retard {
    display: none;
}

#form-absence {
    display: none;
}
.espace-perso:hover {
    background: #edae05;
    margin-left: 5vh;
}
.espace-perso {
    background: #dba005;
    margin-left: 5vh;
}
.bouton-param{
    width: 10vh;
}
