body{
    font-family: arial;
    margin: 0;
    padding: 0;

}


.logo {
    height: 6vh;
    width: auto;
    margin-left: 3vh;
}

.bodyNavbar{
    display: flex;
    background:  #0e2748;
    height: 6vh;
}

.container-link {
    display: flex;
}
ul{
    list-style: none;
    margin: 0;
    float: right;
    margin-right: 3vh;
    display: flex;

}
.bouton-nav{

}
li{

    background:#0e2748;

}

a{
    padding: 0 70px;
    color:#dba005;
    text-decoration: none;
    line-height: 80px;
    font-size: 20px;

}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.submit {
    display: block;
    margin: 10px auto 0;
    text-align:center;
    float:right;
}

nav ul li a:hover{
    background:#0e2748;
}

nav ul ul{

    position: absolute;
    display: none;

}

nav ul li:hover > ul{

    display: flex;
}

#calendrier {
    margin-top: 3vh;
}