{% extends 'base.html.twig' %}


{% block title %}Calendrier index{% endblock %}

{% block body %}
    {% include 'navbar/navbaar.html.twig' %}
    {% if calendrier is defined %}
        <h1>{{ calendrier.nom }}</h1>
    {% endif %}

    <input type="hidden" class="js-url" data-url="http://localhost:8000/api/liste"/>
    <div id="calendrier"></div>

    <div id="calendar-holder"></div>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                const calendarEl = document.getElementById('calendar-holder');

                const calendar = new FullCalendar.Calendar(calendarEl, {
                    defaultView: 'timeGridWeek',
                    editable: false,
                    locale: 'fr',
                    eventSources: [
                        {
                            url: "{{ path('api_liste', {id: calendrier.id }) }}",
                            method: "GET",
                            extraParams: {
                                filters: JSON.stringify({})
                            },
                            failure: () => {
                                alert("There was an error while fetching FullCalendar!");
                            },
                        },
                    ],
                    // on passe en francais les bouttons
                    buttonText:{
                        today:"Aujourd'hui",
                        month:"Mois",
                        week:'Semaine',
                        day: 'Jour',
                        list:"Liste des cours",
                        timeGridFiveDay: "semaine",
                    },

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth,timeGridFiveDay',
                    },
                    views: {
                        timeGridFiveDay: {
                            type: 'timeGrid',
                            duration: {days: 5},
                            buttonText: '5 days'
                        }
                    },
                    plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                    event : {

                    }
                });
                calendar.render();
            });
        </script>
    {% endblock %}
{% endblock %}