

{% block stylesheets %}
<script src="{{ asset('assets/js/scriptback.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="text-center">
    <p> Ton mail pour notifier ton absence ou ton retard a bien été envoyé à l'équipe</p>
    <button class="btn btn-warning" onclick="goBack()">Retourne à la page précédente ici</button>
    </div>
{% endblock %}
