
    <div class="bodyNavbar">
        <nav>
            <img class="logo" alt="" src="{{ asset('/assets/img/LogoEcn.png') }}"/>

            <ul>
                <li><a href="#">Affichage</a>
                    <ul>
                        <li> <a class="elmt" for="checkbox1" > <input type="checkbox" name="checkbox1" id="checkbox1" class="check" value="1" href="#"> Semaine</a></li>
                            <div><li> <a class="elmt" for="checkbox1" > <input type="checkbox" name="checkbox1" id="checkbox1" class="check" value="1" href="#"> Mois</a></li></div>
                        <li> <a class="elmt" for="checkbox1" > <input type="checkbox" name="checkbox1" id="checkbox1" class="check" value="1" href="#"> Formation</a></li>

                    </ul>
                </li>


                <li><a href="#">Ohlala</a>
                    <ul>
                        <li> <a class="elmt" for="checkbox" > <input type="checkbox" name="checkbox" id="checkbox" class="check" value="1" href="#" onclick="validateRetard()"> Retard</a></li>
                        <div>
                            <li> <a class="elmt" for="checkbox" > <input type="checkbox" name="checkbox1" id="checkbox1" class="check" value="1" href="#" onclick="validateAbsence()"> Absence</a></li>
                        </div>

                         <div>
                             <li><a href="#" for="start"> Date :  <input type="date" id="start" name="trip-start" value="2020-02-10" min="2010-01-01" max="2050-12-31">
                                     <div>
                                         <label for="appt"> Durée :</label>
                                         <input type="text" class="datepicker" name="date" value="" />
                                     </div>

                                     <div>
                                            <input class="submit" type="submit"  value="Envoyer">
                                     </div>
                                 </a>
                             </li>
                         </div>
                    </ul>
                </li>


                <li><a href="#">Gérer</a>
                    <ul>
                        <li><a href="#">Modifier</a></li>
                            <div>
                                <li><a href="#">Créer</a></li>
                            </div>
                        <li><a href="#">Supprimer</a></li>
                    </ul>
                </li>


                <li><a href="#">Editer</a>
                    <ul>
                        <li><a href="#">Extraire période</a></li>
                        <li><a href="#">Extraire liste de classe</a></li>
                        <li><a href="#">Générer mot de passe </a></li>
                    </ul>
                </li>
                <li><a href="#">Se Déconnecter </a></li>
            </ul>
        </nav>
    </div>