<div id="volet">
    <div class="vertical">
        <a href="#volet" class="ouvrir" aria-hidden="true"> Paramètres</a>
    </div>

    <div id="volet_clos">
        <div id="volet__content" >

            <div><input type="radio" name="matiere" class="check" value="technique" href="#"/> Technique</div>
            <div> <input type="radio" name="matiere" class="check" value="non_technique" href="#"/> Non technique</div>
            <div> Module </div>
            <div><input type="radio" name="matiere" class="check" value="html" href="#"/> HTML</div>
            <div><input type="radio" name="matiere" class="check" value="wordpress" href="#"/> Wordpress</div>


            <a href="#volet_clos" class="fermer" aria-hidden="true"> Valider</a>
        </div>
    </div>
</div>